.text {
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; /* Montserrat-Medium */
  color: #333333; /* labelColor */
  text-align: justify;
  margin: 20px; /* Na web, sempre precisamos colocar o 'px' */
}


/* import { StyleSheet } from "react-native";
import { labelColor } from "../../themes/Color";

export const styles = StyleSheet.create({
  text: {
    alignSelf: "center",
    fontFamily: 'Montserrat-Medium',
    fontSize: 18,
    color: labelColor,
    textAlign: 'justify',
    margin: 20
  }
}) */